<h4><em>All Plants Currently Planted:</em></h4>
<% if plot != 'all' %>
  <% plants = plot.plants %>
<% else %>
  <% plants = Garden.plotted_plants_sub_100_days_to_harvest(@garden.id) %>
  <h4>(less than 100 days to harvest)</h4>
<% end %>
  <% plants.each do |plant|  %>
    <div id="plant-<%= plant.id %>">
      <div style="float:left; padding-top:2px; padding-right:20px;">
        <p><%= plant.name %></p>
        <p><strong><%= "Days to Harvest: #{plant.days_to_harvest}" %></strong></p>
      </div>
      <br>
      <%= link_to "Remove #{plant.name}", garden_bed_path(plant.id), method: :delete %>
      <br>
      <br>
      <br>
      <br>
    </div>
  <% end %>
